<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Talent Block</title>
  <link rel="icon" type="stati/png" sizes="96x96" href="/static/img/favicon-96x96.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/build.css">
</head>
<body>
  <div id="app"></div>
  <script src="/static/js/build.js"></script>
</body>
</html>