<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>EMAIL VERIFICATION</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<style>
html {
font-family: 'Lato' !important;
}
body{
margin: 0;
padding: 0;

}

.scvfbody {
background-image: url("/static/img/bg3.jpg");
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 100vh;
display: table;
}

.successverified {
text-align: center;
padding: 2% 20%;
display: table-cell;
vertical-align: middle;
}

.successv-content {
padding: 50px;
background-color: #446acb;
color: white;
border-radius: 20px;
}

.successv-content h1{
font-size: 50px;
margin: 10px;
}

.successv-content p{
color: #d3d3d3;
margin-top: 10px;
margin-bottom: 24px;
}


.successv-content hr{
width: 250px;
}

.successv-content a {
color: white;
width: 200px;
padding: 10px 20px;
border: 1px solid #fff;
border-radius: 20px;
margin: 30px;
text-decoration: none;
}
</style>
  <% if(status == 1){ %>
    <div class="scvfbody">
        <div class="successverified">
          <div class="successv-content">
            <img src="/static/img/checked.svg" height="100"	width="100">
            <h1>Congratulations!</h1>
            <hr>
                <p>Hi <%= data.username %>, you have successfully verified your email. <br/>
                You may now click the button below to login.</p>
                <a class="loginbtnonsv" href="/#/login">Login</a>
          </div>
        </div>
      </div>
  <% }else{ %>
    <div class="scvfbody">
        <div class="successverified">
          <div class="successv-content">
            <img src="/static/img/warning.svg" height="100"	width="100">
            <h1>Error!</h1>
            <hr>
              <p>There is a problem in activating the email.</p>
              <p>Reason : 
                <% if (error.error.details){ %>
                  Token was already expired.
                <% }else{ %>
                  <%= error.error.message %>
                <% } %>
              </p>
          </div>
        </div>
      </div>
  <% } %>
</body>
</html>