<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>EMAIL VERIFICATION</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <% if(status == 1){ %>
    <p>Hi <%= data.username %>, you have successfully verified your email.</p>
    <p>You may now click <a href="/#/login">this</a> link to login.</p>
  <% }else{ %>
    <p>There is problem activating the email.</p>
    <p>Reason : <%- JSON.stringify(error) %></p>
  <% } %>
</body>
</html>