.user-welcome > h5 {
  color: red;
  margin: 1000px;
}

html {
  font-family: "Lato", sans-serif !important;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif !important;
}

.heading {
  height: 70vh;
  background-image: url("/static/img/heading.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.heading-centered {
  height: 100%;
  width: 100%;
  display: table;
}

.heading-caption {
  text-align: center;
  clear: both;
  display: table-cell;
  vertical-align: middle;
  color: white;
}

.nav-bar {
  color: white;
  width: 100%;
  z-index: 999;
  position: absolute;
}

.nav-bar a {
  color: white;
  
}

.nav-bar.colored {
  background-color: #4a74cc;
}

.nav-bar ul li {
  display: inline-block;
  list-style: none;
}

.btn:focus {
  -webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.form-control:focus {
  -webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

a:hover{
  text-decoration: none !important;
  color: white;
}

/************************ Nav *************************/
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  border: none !important;
}

.header {
  float: left;
}

.title {
  padding: 20px 10px;
}

.logo,
.title {
  display: inline-block;
  margin-left: 24px;
}

.brand {
  margin-left: 10px;
  font-size: 18px;
}

.nav-bar img {
  position: absolute;
  top: 18px;
}

.rightnav {
  float: right;
}

.rightnav input {
  border-radius: 10px;
  height: 20px;
  width: 280px;
  padding: 13px;
}

.rightnav img {
  border: 2px solid #b6baff;
}

.features {
  padding: 20px;
  background: linear-gradient(to right, #9FCC4A, #4a74cc);
  font-size: 80%;
  text-align: center;
  color: white;
}

.feature {
  margin-left: 10px;
}

.feat-details {
  margin: auto;
}

.col-4.feat-detail {
  text-align: left;
  display: flex;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.courselist {
  padding: 20px 0;
}

.courselist h3	{
text-align: center;

}

.courselist ul li{
width: 12%;
list-style: none;
display: inline-block;
margin: 20px;
font-size: 80%;
height: 330px;
overflow: hidden;
}

.courses {
width: 80%;
margin: auto;
}


.courses p {
color: #BDBDBD;
font-size: 85%;
}

.courses img {
width: 100%;
height: 110px;
}

.trainingoffertype {
  text-align: center;
  background-image: url("/static/img/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;

  padding: 20px;
  color: white;
}

.trainings {
  padding: 20px;
}

.trainings img {
  width: 150px;
  height: 150px;
  margin: 10px;
}

.amazing h4 {
  margin-top: 20px;
  text-align: center;
}

.besomething {
  padding: 20px;
}

.besomething h4 {
  text-align: center;
}

.course {
  background-color: gray;
  padding: 8% 10%;
  margin: 10px;
  max-width: 30% !important;
  text-align: center;
  color: white;
}

.signupform {
  padding: 20px;
  display: table-cell;
  vertical-align: middle;
}

.signupform form {
  padding: 20px;
}

.signupform h4 {
  text-align: center;
}

.signupform input {
  height: 30px;
  border-radius: 20px;
}

.footer {
  padding: 20px;
  background-color: #bdbdbd;
  color: white;
  margin-top: 20px;
}

.footer-title {
  padding: 5%;
}

.socialmedia .fab {
  margin-left: 10px;
}

.socialmedia ul li {
  list-style: none;
  margin: 10px;
}

.footer-nav ul {
  padding: 0;
}

.footer-nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}

/******************** course page **************************/

.course-details {
  margin-top: 40px;
}

.course-info {
  bottom: 0;
  position: absolute;
  padding: 40px;
}

.course-outline button {
  margin-right: 10px;
}

.course.backend {
  background-image: url("/static/img/backend.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.course.projlead {
  background-image: url("/static/img/projlead.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.course.ui-ux {
  background-image: url("/static/img/ui-ux.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.course.proj-analyst {
  background-image: url("/static/img/proj-analyst.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.course.projmngr {
  background-image: url("/static/img/projmngr.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.course.webdev {
  background-image: url("/static/img/webdev.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.btn.trans-bordered {
  color: white;
  border: 1px solid white;
  background-color: transparent;
}

.sidebar-content ul {
  padding: 1px;
  background-color: #eeeeee;
  height: 500px;
}

.sidebar-content ul li {
  list-style: none;
  padding: 20px;
  margin: 2px;
  margin-bottom: 10px;
  background-color: white;
}

.course-content {
  width: 65%;
  float: left;
  padding: 20px;
  color: white;
}

.course-p {
  text-indent: 50px;
  color: black;
  padding: 20px;
}
.course-outline {
  height: 370px;
  /* background-image: url("/static/img/coursebg.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px 40px;
  font-size: 90%;
  position: relative;
}

.transparentdiv {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5803921568627451);
  position: absolute;
  top: 0;
  left: 0;
}

.course-sched {
	width: 100%;
	border: 1px solid #eeeeee;
	color: black;
	text-align: center;
	margin-top: 20px;
}

.course-sched .col {
  padding: 5px !important;
  color: black;
}

.course-sched button {
	border-radius: 0;
	right: 10px;
}

.col.scheds p{
	color: gray;
}

.dab-info {
	padding: 40px 0;
}

.h4-centered{
	text-align: center;
	padding: 10px;
}

.padded-white {
	background-color: white;
	padding: 40px;
	box-shadow: 1px 0px 6px 1px #bbbbbb;
}

.dacbtn {
  background-color: white;
  box-shadow: 0px 2px 3px gray;
  text-align: center;

  padding: 20px;
}

.dacbtn a {
  text-align: left;
}

  .dacbtn .col {
    padding: 20px;
}


.side-bar {
  float: right;

  height: 350px;
}

.relatedcourse {
  position: relative;
  height: 170px;
  color: white;
  background-image: url("/static/img/relatedcourses.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0;
  margin-top: 10px;
  text-align: center;
  font-size: 90%;
}

.z-indexed-content {
  position: relative;
  z-index: 1;
  width: 100%;
}

.relatedcourse p {
  text-align: right;
  margin: 30px 20px;
}

.dot {
  height: 40px;
  width: 40px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 30px;
  padding: 7px;
}

.clearfix {
  clear: both;
}

/**************** SIGN UP PAGE ********************/

.signuppage {
  background-image: url("/static/img/bg3.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  /* height: 100vh; */
  height: -webkit-calc(100vh - 65px);
  height:    -moz-calc(100vh - 65px);
  height:         calc(100vh - 65px);
  display: table;
}

.signupbtn {
  width: 100%;
}

.signupcontainer {
  padding: 0 20%;
  display: table-cell;
  vertical-align: middle;
}

.signup-span {
  margin: 20px 0;
}

.singupcontent {
  width: 50%;
  height: 40%;
  min-height: 600px;
  float: left;
  padding: 40px;
  text-align: center;
  background: #4a74cc;
  border-radius: 20px 0 0 20px;
  color: white;
}

.singupcontent img {
  margin: 20px;
}

.formsignup {
  width: 50%;
  height:40%;
  min-height: 600px;
  float: right;
  background: white;
  padding: 20px;
  border-radius: 0 20px 20px 0;
}

/********** confirmation ***********/

.signupconfirmation {
  display: table;
  width: 100%;
  height: 90%;
}

.confirmationmsg {
  text-align: center;
  color: white;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.confirmationbg {
  width: 50%;
  background: #4a74cc;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px gray;
}

/****************** login ********************/
.login {
  background-image: url("/static/img/bg3.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  /**height: 100vh;**/
  height: -webkit-calc(100vh - 65px);
  height:    -moz-calc(100vh - 65px);
  height:         calc(100vh - 65px);
  display: table;
}

.login .card {
  background-color: white;
  padding: 40px;
  border-radius: 20px;
}

.login h4 {
  text-align: center;
}

/************** user profile *****************/

.dash-loading {
  text-align: center;
  color: #b6baff;
}

.profile-view {
  background-color: #eeeeee;
  /* height: 100vh; */
  overflow: hidden;
}

.profilenav {
  width: 15%;
  height: 100vh;
  display: flex;
  background-color: white;
  z-index: 999;
  font-size: 20px;
}

.profilenav ul {
  padding: 0;
  width: 100%;
  margin-top: 20px;
}

.profilenav ul li {
  list-style: none;
  margin-bottom: 10px;
  padding: 10px;
}

.profile-details {
  width: 85%;
  float: right;
  padding: 20px;
  background-color: #eeeeee;
}

.profilenav {
  float: left;
}

.profnavactive {
  background: #eeeeee;
  padding: 10px;
}

.user-welcome h3 {
  color: #4a74cc;
}

.user-welcome span {
  color: #b6baff;
}

.searchcourses {
  display: flex;
  padding: 20px;
  background-color: white;
  box-shadow: 2px 2px 3px gray;
  border-radius: 5px;
  position: relative;
}

.searchcourses input {
  height: 20px;
  border-radius: 20px;
  float: right;
}

.vi-courses {
  text-align: right;
  padding-top: 10px;
  color: #929984;
}

.searchurcourses {
  right: 20px;
  position: absolute;
}

.ur-courses {
  padding: 20px;
  padding-bottom: 0px;
  background: white;
  margin-top: 10px;
  font-size: 85%;
  box-shadow: 2px 2px 3px gray;
}

.ur-certs {
  padding: 10px;
  padding-bottom: 0px;
  background: white;
  margin-top: 10px;
  font-size: 85%;
  box-shadow: 2px 2px 3px gray;
  position: relative;
}

.ur-certs-btns {
  right: 0;
  position: absolute;
  padding: 20px;
}

.ur-certs-btns button {
  margin-left: 10px;
  border-radius: 20px;
  width: 100px;
}

.certs-list {
  width: 100%;
}

.daysleft {
  font-size: 14px !important;
  font-weight: 700;
  padding: 5px;
  background-color: #00e676;
  border-radius: 20px;
  color: white;
}

.ur-courses img {
  float: left;
  width: 115px;
  margin-right: 10px;
}

.schlogo {
  width: 90px !important;
  height: 90px !important;
}

.ur-courses ul {
  padding: 0;
}

.ur-courses ul li {
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

.ur-courses button {
  border-radius: 15px;
  text-align: center;
  background: transparent;
  box-shadow: 2px 3px 10px gray;
  height: 30px;
  width: 115px;
  margin-top: 5px;
}

.ur-courses .more-info {
  padding: 10px;
  font-size: 16px;
  border-radius: 15px;
  text-align: center;
  background: transparent;
  box-shadow: 2px 3px 10px gray;
  height: 30px;
  width: 115px;
  margin-top: 10px;
  margin-left: 10px;
}

.stats {
  margin-top: 28px;
}

.statsview {
  box-shadow: 2px 2px 4px gray;
  text-align: center;
  padding: 10px;
  margin: 5px;
  color: #929984;
}

.div1 {
  height: auto;
  width: 100%;
  background-color: white;
  box-shadow: 2px 2px 4px gray;
  padding: 10px;
  margin: 5px;
}

.div2 {
  height: auto;
  width: 100%;
  background-color: white;
  box-shadow: 2px 2px 4px gray;
  padding: 10px;
  margin: 5px;
}

.mycourses {
  width: 70%;
  margin: auto;
}

.accountsetting {
  padding: 40px;
  background: white;
  margin-top: 10px;
  font-size: 85%;
  box-shadow: 2px 2px 3px grey;
  width: 70%;
  border-radius: 20px;
}

.fixed {
  position: fixed;
}

.eeee {
  height: 100vh;
}

/***************** courses categories *********************/

.top-cat {
	text-align: center;
	background-color: #eeeeee;
	padding: 40px;
}

.top-cat h5 {
	margin-bottom: 20px;
}

.col-topcourse {
	width: 100%;
	background-image: url("/static/img/heading.png");
	background-repeat: no-repeat;
  	background-size: cover;
  	padding: 110px 50px 10px 10px;
  	text-align: left;
    color: white;
    position: relative;
}

/************ account stat div **************/

.accountstats {
	padding: 2px;
	font-size: 85%;
	position: relative;
  box-shadow: 2px 2px 3px gray;
  height: 65px;
}

.profile-pic, .profile-name, .profile-stats {
	display: inline-block;
	text-align: center;
}

.profile-name {
	margin-left: 24%;
}

.profile-pic {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: -80%;
    left: 10%;
}

.profile-pic img {
	border: 3px solid white;

}

.profile-stats {
    width: 40%;
    margin-left: 45%;
}

.profile-name {
    position: absolute;
    padding: 10px;
}


/*********** account forms *************/

.accountforms {
	background-color: #eeeeee;
	padding: 80px;
}

.basic-info {
	background-color: white;
	padding: 20px;
}

.basic-info h5 {
	text-align: center;
}

.basic-info input {
	border-radius: 20px;
	width: 100%;
}

.card-info {
	padding: 20px;
	background-color: white;
}

.basic-info, .card-info {
	margin: 20px;
	box-shadow: 1px 1px 2px gray;
}

.card-info h5, .addcard {
	display: inline-block;
}

.card-info h5 {
	text-align: center;
}

.card-info button {
	border-radius: 20px;
}

.addcard {
	right: 40px;
	position: absolute;
	background-color: transparent;
	color: blue;
	border: 1px solid blue !important;
}

/************* error page **************/

.four04 {
	text-align: center;
	padding: 5rem;
	height: auto;;
}

/**************** page title ******************/
.page-title {
	height: 300px;
	background-color: green;
  position: relative;
}


.title-centered {
	height: 100%;
	width: 100%;
}

.breadcrum {
	top: 40%;
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 40%;
	color: white;
}


.nav-tabs {
  border-bottom: 1px solid #dee2e6;
  box-shadow: 1px 2px 3px #dee2e6;
}

/***************** for responsiveness ***********************/

@media all and (min-width: 1024px) and (max-width: 1280px) { }

@media all and (min-width: 768px) and (max-width: 1024px) {
  .courselist ul li{
    width: 110px;
  }

  .course {
    max-width: 100% !important;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .courselist ul li{
    width: 110px;
  }

  .course {
    max-width: 100% !important;
  }
}

@media all and (max-width: 480px) {
  .courselist ul li {
    width: 80%;
    height: auto;
    text-align: center;
  }

  .course {
    max-width: 100% !important;
  }
}


/* Portrait */
@media screen and (orientation:portrait) { /* Portrait styles here */ }
/* Landscape */
@media screen and (orientation:landscape) { /* Landscape styles here */ }


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {
}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
} 

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {
}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {
}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {
}